<div class="container">
  <% if @item.errors.any? %>
    <% @item.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  <% end %>

  <h1>Cadastrar novo item</h1>

  <%= simple_form_for @item, html: {class: 'col-md-6'} do |f| %>
    <%= f.association :item_type, label: 'Tipo' %>
    <%= f.association :brand, label: 'Marca' %>
    <%= f.input :title, label: 'Título' %>
    <%= f.input :registry_number, label: 'Número de registro' %>
    <%= f.input :model, label: 'Modelo' %>
    <%= f.input :color, label: 'Cor' %>
    <%= f.input :description, label: 'Descrição', as: :text %>
    <%= f.input :photo, as: :file, label: 'Foto', wrapper_html: { class: 'custom-file mb-3 mt-2' }, input_html: { class: 'custom-file-input' },
      label_html: { class: 'custom-file-label' } %>
    <%= f.submit 'Enviar', class: 'btn btn-primary' %>
  <% end %>
</div>
