<div class="container">
  <h1>Meus Relatórios</h1>
  <p class="text-info">
  <%= link_to new_report_path do %>
    <%= icon 'fas', 'exclamation-triangle' %>
    Reportar roubo
  <% end %>
  </p>

  <% @reports.each do |report| %>
    <div class="row">
      <div class="card border-secondary mb-3" style="width: 20rem;">
        <div class="card-header">
          <%= link_to report.address, report %>
        </div>
        <div class="card-body">
          <h4 class="card-title"><%= report.ocurrance_date%></h4>
          <% if report.police_report.attached? %>
            <%= image_tag report.police_report %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
