<div class="container">
  <h1>Meus Relatórios</h1>
  <p class="text-info">
  <%= link_to new_report_path, class: 'btn btn-danger' do %>
    <%= icon 'fas', 'exclamation-triangle' %>
    Reportar roubo
  <% end %>
  </p>

  <% @reports.each do |report| %>
    <div class="row">
      <div class="card border-secondary mb-3" style="width: 20rem;">
        <div class="card-header">
          <%= link_to report.address, report %>
        </div>
        <div class="card-body">
          <p class="card-text"> Há <%= distance_of_time_in_words(report.ocurrance_date, Time.zone.now, include_seconds: true) %></p>
          <% if report.police_report.attached? %>
            <%= image_tag report.police_report %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
