
<div class="container">
  <h1>Reportar roubo</h1>
  <%= simple_form_for @report, html: {class: 'col-md-6'} do |f| %>
    <%= f.input :address, label: 'Endereço' %>
    <%= f.input :ocurrance_date, html: true %>
    <%= f.input :description, label: 'Descrição do ocorrido' %>
    <%= f.input :police_report, label: 'Boletim de ocorrência', as: :file,
      wrapper_html: { class: 'custom-file mb-3 mt-2' }, input_html: { class: 'custom-file-input' },
      label_html: { class: 'custom-file-label' } %>
    <h4>Itens</h4>
    <%= f.collection_check_boxes :item_ids, @items, :id, :title, item_wrapper_class: 'form-check', label_html: {class: 'ml-2'} %>
    <p><%= f.submit 'Reportar', class: 'btn btn-primary' %></p>
  <% end %>
</div>
